body {
    font-family: sans-serif;
    margin: 0 50px
}
.container {
    display: flex;
}


#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#posts {
    width: 400px
}



#msg{
    color:'red'
}
